<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/blog/blog.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
  <div class="outer">
    <div class="outer-askSection">
      <div class="askSection">
        <div class="ask-des">
          <h2>Something In Your Mind?</h2>
          <p>Ask and discuss with the community of users</p>
          <p>from all across the globe</p>
          <div class="askbtn"><a href="/blog/createblog">Ask Anonymously</a></div>
        </div>
        <div>
          <img src="/images/chat.svg" alt="">
        </div>
      </div>
    </div>
    <div class="back"><h2>CHOOSE YOUR CATEGORIES:</h2></div>
    <div class="category">
        <div class="category-div">
          <input  onclick="window.location='/blog/chosen/Recommended'" name="choosers" class="category-chooser" value="Recommended" type="radio"><label>Recommended</label>
          <input  onclick="window.location='/blog/chosen/Relationship'" name="choosers" class="category-chooser" value="Relationship" type="radio"><label>Relationship</label>
          <input  onclick="window.location='/blog/chosen/Self Care'" name="choosers" class="category-chooser" value="Self Care" type="radio"><label>Self Care</label>
          <input  onclick="window.location='/blog/chosen/Covid 19'" name="choosers" class="category-chooser" value="Covid 19" type="radio"><label>Covid 19</label>
          <input  onclick="window.location='/blog/chosen/Anxiety'" name="choosers" class="category-chooser" value="Anxiety" type="radio"><label>Anxiety</label>
          <input  onclick="window.location='/blog/chosen/Depression'" name="choosers" class="category-chooser" value="Depression" type="radio"><label>Depression</label>
          <input  onclick="window.location='/blog/chosen/Mindfulness'" name="choosers" class="category-chooser" value="Mindfulness" type="radio"><label>Mindfulness</label>
          <input  onclick="window.location='/blog/chosen/Burnout'" name="choosers" class="category-chooser" value="Burnout" type="radio"><label>Burnout</label>
          <input  onclick="window.location='/blog/chosen/Mental Wellness'" name="choosers" class="category-chooser" value="Mental Wellness" type="radio"><label>Mental Wellness</label>
          <input  onclick="window.location='/blog/chosen/Guilt'" name="choosers" class="category-chooser" value="Guilt" type="radio"><label>Guilt</label>
          <input  onclick="window.location='/blog/chosen/Anger'" name="choosers" class="category-chooser" value="Anger" type="radio"><label>Anger</label>
          <input  onclick="window.location='/blog/chosen/Therapy'" name="choosers" class="category-chooser" value="Therapy" type="radio"><label>Therapy</label>
          <input  onclick="window.location='/blog/chosen/Psychology'" name="choosers" class="category-chooser" value="Psychology" type="radio"><label>Psychology</label>
          <input  onclick="window.location='/blog/chosen/Exercises'" name="choosers" class="category-chooser" value="Exercises" type="radio"><label>Exercises</label>
          <input  onclick="window.location='/blog/chosen/OCD'" name="choosers" class="category-chooser" value="OCD" type="radio"><label>OCD</label>
        </div>
      
    </div>
    <div class="choose">
      <div onclick="toggle1()" id="choose1" class="blue">
        <p>Category Wise Blogs</p>
      </div>
      <div onclick="toggle2()" id="choose2" class="dark">
        <p>Your Blogs</p>
      </div>
    </div>
    <div id="all_blogs" class="all-blogs">
      <%if(blogs.length==0){%>
        <div class="no_data_div">
          <div>
            <img class="no_data" src="/images/nodata.avif">
            <p>You Have Not Posted Any Blogs 😓😱😓.Let's Write That Today!!</p>
          </div>
        </div>
      <%}else{%>
      <%blogs.forEach(function(items){%>
        <div class="card-container">
          <div class="img-div">
            <a href="/" class="hero-image-container">
              <img class="hero-image" src=<%=items.img%> />
            </a>
          </div>
          <main class="main-content">
            <h2><a href="#"><%=items.title%></a></h2>
            <p><%=items.body.slice(0,250)%>....</p>
          </main>
          <div class="blog-footer">
            <div class="readMore"><a href=<%=items._id%>>Read More</a></div>
            <div>
              <i onclick="addtofavourites()" id="heart" class="fa-regular fa-heart"></i>
                <i id="like" onclick="increaselike()" class="fa-regular fa-thumbs-up" ></i>
                <i id="dislike" onclick="decreaselike()" class="fa-solid fa-thumbs-up hide"></i>
                <span id="rating"><%=items.rating%></span>
                <span id="fetcher" class="hide"><%=items._id%></span>
            </div>
          </div>
        </div>
      <%})%>
      <%}%>
      
    </div>

    <div id="your_blogs" class="hide all-blogs">

      <%if(your_data.length==0){%>
        <div class="no_data_div">
          <div>
            <img class="no_data" src="/images/nodata.avif">
            <p>You Have Not Posted Any Blogs 😓😱😓.Let's Write That Today!!</p>
          </div>
        </div>
      <%}else{%>
      <%your_data.forEach(function(items){%>
        <div class="card-container">
          <div class="img-div">
            <a href="/" class="hero-image-container">
              <img class="hero-image" src=<%=items.img%> />
            </a>
          </div>
          <main class="main-content">
            <h2><a href="#"><%=items.title%></a></h2>
            <p><%=items.body.slice(0,250)%>....</p>
          </main>
          <div class="blog-footer">
            <div class="readMore"><a href=<%=items._id%>>Read More</a></div>
            <div>
              <i onclick="addtofavourites()" id="heart" class="fa-regular fa-heart"></i>
                <i id="like" onclick="increaselike()" class="fa-regular fa-thumbs-up" ></i>
                <i id="dislike" onclick="decreaselike()" class="fa-solid fa-thumbs-up hide"></i>
                <span id="rating"><%=items.rating%></span>
                <span id="fetcher" class="hide"><%=items._id%></span>
            </div>
          </div>
        </div>
      <%})%>
      <%}%>
    </div>

  </div>
</body>
<script type="text/javascript" src="/js/blog.js"></script>
</html>
